.background1 {
    background-color: #DB2B39;
    width: 600px;
    height: 600px;
    margin-left: 29%;
    margin-right: 4.5%;
    border-radius: 50px;
}

.background2 {
    background-color: #2D3142;
    width: 500px;
    height: 500px;
    margin-left: 8%;
    border-radius: 50px;
}

.margin {
    margin-bottom: 40px;
    height: 100%;
}

.back {
    width: 40%;
    height: 80px;
    border-radius: 100px;
    background-color: #2D3142;
    text-align: center;
    margin-top: 2%;
    margin-left: 30.4%;
    margin-bottom: 2%;
    color: #ffffff;
  }

  .title {
    position: absolute;
    margin-left: 12%;
    margin-top: 1.5%;
  }

  .marginBottom {
    margin-bottom: 8%;
  }

  .line1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
  }
  .line2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
  }
  .line3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
  }

  .divisorLine1 {
    width: 5px;
    height: 163px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .divisorLine2 {
    width: 500px;
    height: 5px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .table {
    height: 50px;
  }

  .img {
    margin-bottom: -1px;
    height: 70px;
    width: 70px;
  }

  .button {
    cursor: pointer;
    background-color: #2D3142;
    border: none;
  }

  .button:hover {
    margin-bottom: 4px;
    border-radius: 100px;
    transition: 1s;
    height: 84px;
    width: 82px;
    cursor: pointer;
    background-color: #6b7292;
    border: none;
  }

   alert {
    background-color: #6b7292;
  }

  .title1 {
    position: absolute;
    margin-left: 5%;
    margin-top: 4.5%;
  }

  .title2 {
    position: absolute;
    margin-left: 80%;
    margin-top: 4.5%;
  }

  .placarWhite {
    position: absolute;
    font-size: 50px;
    margin-left: 12%;
    margin-top: 8%;
  }

  .placarOrange {
    position: absolute;
    font-size: 50px;
    margin-left: 87%;
    margin-top: 8%;
  }

  .restart {
    margin-top: 5%;
    margin-left: 44.5%;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .restart:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .restart:focus {
    outline: none;
  }
  
  .restart {
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }