<diV class="margin"></diV>
    <div class="back">
        <h1 class="title">Jogo Da Velha</h1>
    </div>
    <h1 class="title1">SUS BRANCO</h1>
    <div class="placarWhite">{{placarWhite}}</div>
    <h1 class="title2">SUS LARANJA</h1>
    <div class="placarOrange">{{placarOrange}}</div>
<div class="background1">
  <div class="table"></div>
    <div class="background2">
      <div class="line1">
        <button (click)="verificar(number = 0)" class="button"><img src="{{imagens[0]}}" class="img" ></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 1)" class="button"><img src="{{imagens[1]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 2)" class="button"><img src="{{imagens[2]}}" class="img"></button>
      </div>
      <div class="divisorLine2"></div>
      <div class="line2">
        <button (click)="verificar(number = 3)" class="button"><img src="{{imagens[3]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 4)" class="button"><img src="{{imagens[4]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 5)" class="button"><img src="{{imagens[5]}}" class="img"></button>
      </div>
      <div class="divisorLine2"></div>
      <div class="line3">
        <button (click)="verificar(number = 6)" class="button"><img src="{{imagens[6]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 7)" class="button"><img src="{{imagens[7]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="verificar(number = 8)" class="button"><img src="{{imagens[8]}}" class="img"></button>  
    </div>
  </div>
</div>
<div><button class="restart" (click)="rest()">Reiniciar</button></div>
<div class="marginBottom"></div>
