<diV class="margin"></diV>
    <div class="back">
        <h1 class="title">Jogo Da Velha</h1>
    </div>
<div class="background1">
  <div class="table"></div>
    <div class="background2">
      <div class="line1">
        <button (click)="line1()" class="button"><img src="{{imagens[0]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line2()" class="button"><img src="{{imagens[1]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line3()" class="button"><img src="{{imagens[2]}}" class="img"></button>
      </div>
      <div class="divisorLine2"></div>
      <div class="line2">
        <button (click)="line4()" class="button"><img src="{{imagens[3]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line5()" class="button"><img src="{{imagens[4]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line6()" class="button"><img src="{{imagens[5]}}" class="img"></button>
      </div>
      <div class="divisorLine2"></div>
      <div class="line3">
        <button (click)="line7()" class="button"><img src="{{imagens[6]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line8()" class="button"><img src="{{imagens[7]}}" class="img"></button>
        <div class="divisorLine1"></div>
        <button (click)="line9()" class="button"><img src="{{imagens[8]}}" class="img"></button>  
    </div>
  </div>
</div>
<div class="marginBottom"></div>
