<diV class="margin"></diV>
<p>Material Icon</p>
<h1 class="ngFor">NgFor</h1>
<br>
<div>
    <select [(ngModel)]="nome" class="center">
        <option *ngFor="let item of nomes; index as i" value="{{item}}">{{ item }}</option>
    </select>
    - {{nome}}
</div>
<br>
<div>
    <p class="ngFor" *ngFor="let item of nomes; index as i">
        {{ i + 1}}
        {{ item }}
    </p>
</div>
<br>
<button (click)="adicionarFotos()">adicionar</button>
<button (click)="mostrarFotos()">Mostrar</button>

<div *ngFor="let foto of fotos">
<input type="file" [(ngModel)]="foto.arquivo">
</div>

<p [style.background-color]="escolherCor()" *ngIf="isVector(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isScar(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isBarret(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isKoch(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isSpas(); else nomeNaoSelecionada">{{nome}}</p>

<ng-template #nomeNaoSelecionada>
    <p style="opacity: none;"></p>
</ng-template>