<div class="margin"></div>
<p #texto>
  .
</p>
<div class="colorTrade">
  <input class="colorInput" #color type="color">
</div>
  <Custom #modal>
    <select [(ngModel)]="id" class="inputInfo">
      <option class="dados" *ngFor="let dados of cotacao1" value="{{dados.id}}">{{dados.name}}</option>
    </select>
    <button class="analisar" (click)="analise()">Análise</button>
      <img class="imagem" src="{{img}}">
  </Custom>
<button class="enviar" type="submit" (click)="Enviar()">Enviar</button>