.margin {
    margin-bottom: 40px;
    height: 100%;
}

.colorTrade {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 40px;
}

.inputInfo {
  position: absolute;
  margin-left: 0.5%;
  margin-top: -27%;
}

.analisar {
  border-radius: 10%;
  margin-left: 70%;
  margin-top: 85%;
}

.imagem {
  position: absolute;
  height: 300px;
  width: 200px;
  z-index: 999;
}

.colorInput {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
    cursor: pointer;
  }

  .colorTrade:hover {
    transition: 1s;
    border-color: rgb(0, 136, 255);
  }